صدى "# online-syria-" >> README.md 
git init init 
add README.md 
git الالتزام -m "الالتزام الأول" 
git Branch -M main 
git remote add origin https://github.com/Mohamao9/online-syria-.git
 git push -u origin main
